.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    color: skyblue;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 108px);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.boxes {
    display:flex; 
    height: 100px;
    width: 100px;
    background-color: skyblue;
    border: 4px solid aliceblue;
    border-radius: 12px;
    cursor: pointer;
}

.reset-btn {
    width: 100px;
    height: 50px;
    border: none; 
    outline: none; 
    cursor: pointer; 
    border-radius: 50px;
    background: lightskyblue;
    font-size: 17px;
    font-weight: bold;
    color:aliceblue; 
    margin-top: 25px;
    margin-bottom: 50px;
}
